html,body {
    margin:0px;
    padding:0px;
    min-height:100%;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color:#eae3ef;
    color:#2b2a28;
    position: relative;
}

#titleContainer {
    display:flex;
    height:150px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    font-size:20px;
}

#pageTitle {
    font-size:50px;
    align-self:center;
    width:100%;
    text-align:center;
    margin:20px 0 -10px 0;
}

#tweetContainer {
    width:60%;
    background-color:white;
    padding:20px 0 20px 0;
    margin: auto;
    border-radius: 10px;
    margin-bottom:20px;
}

.tweet {
    width:700px;
    text-align: center;
    margin:0 auto 0 auto;
    border-top: 2px solid;
    display:flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: center;
    font-size: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.tweet:last-child {
    border-bottom:2px solid;
}

.tweetMessage, .tweetTime{
    width:100%;
    margin:3px;
}

div.tweet:hover {
    background-color: lightgray;
}

.tweet a {
    text-decoration: none;
    color:black;
}

#buttonHouse {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
}

input[type="button"] {
    font-size: 24px;
    background-color: #0b3a84;
    color:white;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    border:none;
    outline:none;
    margin:0 15px 0 15px;
}

input[type="button"]:hover {
    background-color:rgb(77, 61, 226);
    color: black;
    border:none;
    outline:none;
}

form {
    display:flex;
    width:700px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

input[type="text"] {
    font-size: 24px;
    background-color: #0b3a84;
    color:white;
    border-radius: 5px;
    border:none;
    outline:none;
    width: 225px;
    text-align: center;
    margin: 20px 0 10px 0;
}

#tweetMessage {
    font-size: 24px;
    background-color: #0b3a84;
    color: white;
    border-radius:5px;
    border:none;
    outline:none;
    resize: none;
    margin:10px 0 20px 0;
}

#goBack {
    font-size:20px;
    background-color: #bb3030;
    border-radius: 5px;
    color:black;
    width: 100px;
    height: 25px;
    padding: 0;
}

#goBack:hover {
    background-color: #a01919;
}

#tweetSubmit {
    font-size: 20px;
    background-color: #88d14d;
    border-radius: 5px;
    width:100px;
    height:25px;
}

#tweetSubmit:hover {
    background-color: #579e1c;
}